canvas {
    display: block;
    border: 1px solid #000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
span{
    font-family:Papyrus;
    font-size:40px;
    font-weight:bold;
    position:relative;

}